@model ImageGallary.Models.Image

@{
    ViewBag.Title = "Edit";
}

<div class="container mt-5">
    <div class="col-sm-6 offset-sm-3">
        <div class="card shadow">
            <div class="card-header">
                <b>Edit image</b>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @Html.HiddenFor(model => model.ImageId)

                        <div class="form-group">
                            @Html.LabelFor(model => model.ImageTitle, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.ImageTitle, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ImageTitle, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.OrderNo, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.OrderNo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.OrderNo, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Url, htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-10">
                                <input type="file" name="ImageFile" id="ImageFile" />
                                @Html.DisplayFor(model => model.Url, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.HiddenFor(model => model.Url)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.UploadDate, "Last upload date", htmlAttributes: new { @class = "control-label" })
                            <div class="col-md-10">
                                @Html.DisplayFor(model => model.UploadDate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.HiddenFor(model => model.UploadDate)
                                @Html.ValidationMessageFor(model => model.UploadDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="float-right">
                                <input type="submit" value="Save" class="btn btn-primary shadow" />
                            </div>
                            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-outline-danger shadow" })
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>